.uk-navbar-container {
  background-color: #343434 !important;
}

.title-dp {
  color: white !important;
}
#btn-search {
  background-color: #e6b31e !important;
}
#btn-search:hover {
  background-color: #cfa11b !important;
}

.icon-refresh{
  color: white !important;
}

.icon-refresh:hover{
  color: rgb(184, 184, 184) !important;
}