.btn-save{
    background-color: #E6B31E!important;
}
.btn-save:hover{
    background-color: #cfa11b!important;
}

.btn-logout{
    background-color: red !important;
}
.btn-logout:hover{
    background-color: rgb(173, 0, 0)!important;
}

.chip{
    background-color: #cfa11b!important;
    border-radius: 12px;
    color: white;
    padding: 10px;
}

.icon-delete{
    color: red;
}

.icon-delete:hover{
    color: rgb(173, 0, 0)!important;
}